# Chapter 13. Introduction to Modeling Libraries in Python

## 13.1 Interfacing between pandas and model code

Use the `.values` property to turn a pandas DataFrame to a numpy array.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(0)

%matplotlib inline

In [14]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]
})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [15]:
data.columns

Index(['x0', 'x1', 'y'], dtype='object')

In [16]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

A numpy array can easily be converted back to a pandas DataFrame.

In [17]:
df2 = pd.DataFrame(data.values, columns=['one', 'two', 'three'])
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

Use the `loc()` method to select a subset of columns.

In [18]:
model_cols = ['x0', 'x1']
data.loc[:, model_cols].values

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

The next example demonstrates the process of turning a categorical column into columns of dummary variables.

In [19]:
# Add a Categorical column
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [20]:
# Create a dummy DataFrame and join the reuslt.
dummies = pd.get_dummies(data.category, prefix='category')
dummies

   category_a  category_b
0           1           0
1           0           1
2           1           0
3           1           0
4           0           1

In [21]:
data_with_dummies = data.drop('category', axis=1).join(dummies)
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

## 13.2 Creating model descriptions with Patsy